.App {
  display: flex;
  flex-direction: column;
  width: 350px;
  font-size: 18px;
  padding: 10px;
  box-shadow: -2px 3px 17px -6px rgba(120,120,120,0.79);
  background-color: #f4f1ea;
  border-radius: 10px;
}

.wordBook, .options, .alarmOff {
  padding: 10px;
  opacity: 0.7;
}
