.App {
  display: flex;
  flex-direction: column;
  width: 450px;
  font-size: 18px;
  padding: 5px;
  box-shadow: -2px 3px 17px -6px rgba(120,120,120,0.79);
}

.wordBook, .options, .alarmOff {
  border-bottom: 0.7px solid rgb(206, 206, 206);
  padding: 10px;
  opacity: 0.7;
}
