.wordBookBox {
    margin: 15px;

    .accordion {
        overflow-x: hidden;
    }
    .saveWord, .translated {
        margin: 0;
    }
    .savedDate {
        font-size: 14px;
    }

    table {
        width:100%;
        table-layout: fixed;
    }
    .tbl-header {
        background-color: rgba(255,255,255,0.3);
    }
    .tbl-content {
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 0px;
        border: 1px solid rgba(255,255,255,0.3);
    }
    th {
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
    }
    td {
       padding: 15px;
        text-align: left;
        vertical-align:middle;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        border-bottom: solid 1px rgba(255,255,255,0.1);
    }

    h4 {
      margin-top: 0;
    }

    .accordion__title {
      background-color: #2a2b3a;
      color: rgb(243, 243, 243);
    }
    .accordion__body {
      background-color: #bcd1dd;
      padding: 0;
    }
    .accordion__item {
      overflow-x: hidden;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background: #F5F5F5;
    }
    ::-webkit-scrollbar {
      width: 10px;
      background: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background: #555;
    }
}
