.optionBox {
    padding: 15px;
    background-color: #2a2b3a;
    border-radius: 5px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;

    .optionsMenu {
        margin: 10px 0;
        font-size: 15px;
    }

    .buttonBox {
        display: flex;
        justify-content: center;

        button {
            display: inline-block;
            background: rgb(207, 203, 203);
            border: none;
            margin: 20px 10px;
            padding: 5px 10px;
            font-size: 13px;
            border-radius: 10px;
            width: 150px;
            cursor: pointer;
        }
    }

    .currentAlarmInfo, .currentFrequencyInfo {
        display: inline-block;
        margin: 0 10px 5px 0;
        font-size: 14px;

        .currentInfoContent {
            display: inline-block;
            color: rgb(202, 200, 200);
            margin-left: 15px;
        }
    }
}
